.headers {
  height: 200px;
  background: linear-gradient(90deg, #264653, #4ED0C1);
}

div.snippet {
  background-color: gainsboro;
  padding: 20px;
  width: 40%;
  border-radius: 15px;
}

main {
  margin: 50px;
}

table {
  border-spacing: 0.5rem;
}
td {
  padding: 25px;
  background-color: gainsboro;
}

#block {

  width: 40%;
  float: left;
  margin: 0px 30px 0px 30px;
}

#inline {

  width: 40%;
  margin: 0px 30px 0px 30px;
}

span {
  color: red;
}