header {
  background-color: aliceblue;
  height: 150px;
}

header h1 {
  line-height: 140px;
  margin: 0 0 0 30px;
  font-size: 60px;
}

nav {
  background-color: black;
  padding: 10px 0;
}

nav ul {
  margin: 0;
}

nav li {
  display: inline;
  padding: 10px;
}

nav a {
  color: white;
  padding: 10px;
  font-size: 24px;
  text-decoration: none;
  
}

nav li:hover {
  background-color: grey;
}