body {
  margin: 0;
  font-family: verdana;
}

h2, p {
  padding: 0 0 0 30px;
}

header {
  height: 150px;
  background: linear-gradient(#05A8AA,#B8D5B8);
}

header h1 {
  line-height: 140px;
  margin: 0 0 0 30px;
  font-size: 60px;
  color: white;
}

header img {
  width: 100px;
  position: absolute;
  right: 30px;
  top: 30px;
  border-radius: 15%;
}

nav {
  background-color: white;
  padding: 10px 0;
}

nav ul {
  margin: 0;
}

nav li {
  display: inline;
}

nav a {
  color: #05A8AA;
  padding: 10px;
  font-size: 24px;
  text-decoration: none; 
}

nav a:hover {
  background-color: grey;
}

main h2 {
  font-size: 40px
}

footer {
  background-color: #fad7ca;
  height: 100px;
}