body {
  margin: 0px;
  font-family: verdana;
  background-color: white;
  color: #90be6d;
}

h2,
p {
  padding: 0 0 0 30px;
}

header {
  height: 500px;
  background: linear-gradient(90deg, #264653, #4ED0C1);
}

header h1 {
  line-height: 650px;
  font-size: 45px;
  color: white;
  text-align: center;
}

header img {
  width: 400px;
  position: absolute;
  right: 520px;
  top: 125px;
}

nav {
  background-color: #206F36;
  padding: 20px;
  background: linear-gradient(90deg, #264653, #4ED0C1);
  text-align: right;
}

nav ul {
  margin: 0;
}

nav li {
  display: inline;
}

nav a {
  color: #50575e;
  padding: 12px;
  font-size: 18px;
  text-decoration: none;
}

nav a:hover {
  color: white;
}

main h2 {
  font-size: 40px;
}

#quote {
  color: #50575e;
  text-align: center;
}

footer {
  background: linear-gradient(90deg, #90be6d, #D4DDBB);
}
