body {
  margin: 0;
  font-family: 'Verdana', sans-serif;
}

/* Style the header section */
header {
  height: 150px;
  background-color: lightgray;
}
header img {
  width: 100px;
  position: absolute;
  right: 30px;
  top: 30px;
  border-radius: 15%;
}
h1 {
  line-height: 140px;
  margin: 0 0 0 30px;
  font-size: 100px;
}

/* Style the navigation bar */
nav {
  padding: 10px 0;
  background-color: black;
}
nav ul {
  margin: 0;
}
nav li {
  display: inline;
}
nav a {
  color: white;
  padding: 10px;
  font-size: 24px;
  text-decoration: none;
}
nav a:hover {
  background-color: dimgray;
}

/* Style the main section */
main h2 {
  font-size: 40px;
  margin: 30px 0 0;
}
figure {
  float: left;
  margin: 0 30px 30px 0;
  text-align: center;
}
figure img {
  width: 240px; 
}
section {
  clear: both;
  padding: 0 0 0 30px;
}
section ul {
  padding: 0 0 0 30px;
}

/* Style the footer */
footer {
  clear: both;
  height: 150px;
  background-color: lightgray;
}
footer h2 {
  font-size: 2.5em;
  padding: 20px 0 0 30px;
}
footer p {
  padding: 0 0 0 30px;
}